<!--
                                                          :::      ::::::::
     new-establishment.html                             :+:      :+:    :+:
                                                      +:+ +:+         +:+
     By: hdezier <hdezier@student.42.fr>            +#+  +:+       +#+
                                                  +#+#+#+#+#+   +#+
     Created: 2016/09/21 19:16:56 by hdezier           #+#    #+#
     Updated: 2016/10/09 11:43:42 by hdezier          ###   ########.fr
-->

<!DOCTYPE html>
<html>
<head>
	<title>Ajouter un etablissement</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/common.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="static/img/favicon.png">
</head>
<body>
	{{template "header"}}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<form action="/establishments/new" role="form" method="post">
					<div class="form-group">
						<label for="name">
							Nom de l'etablissement
						</label>
						<input type="text" class="form-control" id="name" name="name">
					</div>
					<div class="form-group">
						<label for="sigle">
							Sigle de l'etablissement
						</label>
						<input type="text" class="form-control" id="sigle" name="sigle">
					</div>
					<div class="form-group">
						<label for="type">
							Type de l'etablissement
						</label>
						<input type="text" class="form-control" id="type" name="type">
					</div>
					<div class="form-group">
						<label for="sector">
							Secteur de l'etablissement
						</label>
						<input type="text" class="form-control" id="sector" name="sector">
					</div>
					<div class="form-group">
						<label for="url">
							Url de l'etablissement
						</label>
						<input type="text" class="form-control" id="url" name="url">
					</div>
				<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>
{{template "footer"}}
</body>
</html>
