/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   home.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: hdezier <hdezier@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/09/15 22:21:57 by hdezier           #+#    #+#             */
/*   Updated: 2016/11/23 16:26:55 by hdezier          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

body {
	margin:0;
	padding:0;
}

.txt-on-image {
	color: black;
}
