{{define "footer"}}

<footer class="ui inverted footerfix segment footer sticky bottom attached centered">
	<div class="ui inverted container row grid" >

	<div class="ui sixteen wide column center aligned">
		<div class="ui inverted link">
			<a class="item" href="">Donner mon avis sur le site</a>
			<span> | </span>
			<a class="item" href="">Qui sommes-nous ?</a>
			<span> | </span>
			<a class="item" href="mailto:?to=contact@notaforma.fr"><i class="mail outline icon"></i> </a>
				<a href="https://www.facebook.com/notaforma" title="Facebook" target="_blank">
					<button class="ui circular facebook icon button">
						<i class="facebook icon"></i>
					</button>
				</a>
				<a href="https://www.twitter.com/NotaForma" title="Twitter" target="_blank">
					<button class="ui circular twitter icon button">
						<i class="twitter icon"></i>
					</button>
				</a>
		</div>
	</div>
	</div>
	<div class="ui row grid">
	<div class="ui sixteen wide column centered center aligned">
		<a href="/"><img src="/static/img/Nfheader.png" height="30" alt="NotaForma" title="NotaForma"></a>
	</div>
	</div>

</footer>
{{end}}
